################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/FlightSimulatorApp/v16
/obj/Debug
